name: Maven

on: [push, pull_request]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: Cache Maven packages
      uses: actions/cache@v4
      with:
        path: /tmp/m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2
    - name: run tests
      run: |
        # make sure it exists before chown
        mkdir -p /tmp/m2
        mvn $MVN_ARGS clean install test
      env:
        MVN_ARGS: -Dmaven.repo.local=/tmp/m2
